/* ===============================================================
   FONT FACE
   ============================================================ */
@import url("../../fonts/stylesheet.css");

.overlay_alphacube {
	background-color: #000000;
	filter:alpha(opacity=70);
	opacity: 0.7;
	z-index:999;
}

.alphacube_nw {
  background: transparent url(alphacube/left-top.gif) no-repeat 0 0;			
  width:10px;
  height:20px;
}

.alphacube_n {
  background: transparent url(alphacube/top-middle.gif) repeat-x 0 0;			
  height:1px;
}

.alphacube_ne {
	background: transparent url(alphacube/right-top.gif) no-repeat 0 0;
	width:10px;
	height:5px;
}

.alphacube_w {
  background: transparent url(alphacube/frame-left.gif) repeat-y top left;			
  width:7px;
}

.alphacube_e {
  background: transparent url(alphacube/frame-right.gif) repeat-y top right;			
  width:7px;	  
}

.alphacube_sw {
  background: transparent url(alphacube/bottom-left-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.alphacube_s {
  background: transparent url(alphacube/bottom-middle.gif) repeat-x 0 0;			
  height:7px;
}

.alphacube_se, .alphacube_sizer  {
  background: transparent url(alphacube/bottom-right-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.alphacube_sizer {
	cursor:se-resize;	
}

.alphacube_close {
	width: 23px;
	height: 23px;
	position:absolute;
	top:0px;
	right:11px;
	cursor:pointer;
	z-index:1000;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.alphacube_minimize {
	width: 23px;
	height: 23px;
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.alphacube_maximize {
	width: 23px;
	height: 23px;
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.alphacube_title {
	float:left;
	height:1px;
	font-size:15px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#123456;
}

.alphacube_content {
	overflow:auto;
	color: #000;
	font-family: 'volvo_sans_proregular';
	font-size: 15px;
	font-weight: 400;
	background:#FDFDFD;
}


.alphacube_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.alphacube_message {
	font-family: 'volvo_sans_proregular';
	font-size: 15px;
	font-weight: 400;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.alphacube_buttons {
	text-align:center;
	width:100%;
}

.alphacube_buttons input {
	width:20%;
	margin:10px;
}

