/* ===============================================================
   FONT FACE
   ============================================================ */

@import url("../../fonts/stylesheet.css");
	
/* ===============================================================
   MENU
   ============================================================ */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 250px;
  font-family: 'volvo_sans_proregular';
  font-weight: 400;
  color: #FFF;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px 16px 45px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  border-top: 1px solid #3856BC;
  border-bottom: 1px solid #1A2755;
}
#cssmenu > ul > li > a:hover {
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background: #8E9090;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  border-bottom: 1px solid #ABADAD;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul li a:hover {
  color: #000;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}


/* ===============================================================
   ICONOS
   ============================================================ */
.nav_cate { background: url(../../img/icon_categoria.png) no-repeat 15px center; }
.nav_productos { background: url(../../img/icon_producto.png) no-repeat 15px center; }
.nav_pedidos { background: url(../../img/icon_pedidos.png) no-repeat 15px center; }
.nav_reclamos { background: url(../../img/icon_reclamo.png) no-repeat 15px center; }
.nav_banner { background: url(../../img/icon_banners.png) no-repeat 15px center; }
.nav_mail { background: url(../../img/icon_mails.png) no-repeat 15px center; }
.nav_user { background: url(../../img/icon_usuarios.png) no-repeat 15px center; }
.nav_sist { background: url(../../img/icon_sistema.png) no-repeat 15px center; }
.nav_web { background: url(../../img/icon_web.png) no-repeat 15px center; }
.nav_moneda { background: url(../../img/icon_moneda.png) no-repeat 15px center; }
.nav_consultas { background: url(../../img/icon_consultas.png) no-repeat 15px center; }
.nav_suscriptos { background: url(../../img/icon_suscriptos.png) no-repeat 15px center; }






